<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.2.3-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>
    <h1>Employee</h1>
    <a class="btn btn-primary" href="/add/employee">Create</a>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Action</th>
        </tr>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}"></td>
            <td th:text="${employee.name}"></td>
            <td th:text="${employee.username}"></td>
            <td th:text="${employee.address}"></td>
            <td th:text="${employee.phone}"></td>
            <td>
                <a class="btn btn-success" th:href="@{/update/employee/{id}(id=${employee.id})}">Edit</a>
                <a class="btn btn-danger" th:href="@{/delete/employee/{id}(id=${employee.id})}">Delete</a>
            </td>
        </tr>
    </table>
</body>
</html>