<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Department</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap-5.2.3-dist/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/main.css}">
</head>
<body>
<form action="#" th:action="@{/update/department}" th:object="${department}" method="post">
    <input type="hidden" th:field="*{Id}" th:value="${department.Id}"/>
    <label for="name">Department Name:</label>
    <input type="text" th:field="*{Name}" th:value="${department.Name}" class="form-control" id="name"/>
    <p th:if="${#fields.hasErrors('Name')}" th:errors="*{Name}">Name Error</p>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<h1>Update</h1>
</body>
</html>